<div class="mb-3 text-start">
  @if (title) {
    <label class="form-label">
      {{ title }}
      @if (isRequired) {
        <span class="text-danger">(*)</span>
      }
    </label>
  }
  @if (type == 'textarea') {
    <textarea
      #customTextarea
      rows="5"
      [value]="value"
      [placeholder]="placeholder"
      class="form-control"
      [disabled]="disabled"
      (input)="onInput(customTextarea.value)"
    ></textarea>
  } @else {
    <input
      #customInput
      [type]="type"
      class="form-control"
      [placeholder]="placeholder ?? ''"
      [value]="value"
      [disabled]="disabled"
      (input)="onInput(customInput.value)"
    >
  }
  @if (hasValidation) {
    <ng-content></ng-content>
  }
</div>
