<div class="container-fluid">
  <h1>Hola Usuario!</h1>
  <p>Estos son tus indicadores de hoy</p>
  <div class="row">
    <div class="col-4">
      <div class="indicator d-flex justify-content-between align-items-center">
        <div>
          <p class="me-4">Usuarios</p>
          <p>5</p>
        </div>
        <i class="pi pi-user" style="font-size: 2.5rem"></i>
      </div>
    </div>

    <div class="col-4">
      <div class="indicator d-flex justify-content-between align-items-center">
        <div>
          <p class="me-4">Categorías</p>
          <p>5</p>
        </div>
        <i class="pi pi-tags" style="font-size: 2.5rem"></i>
      </div>
    </div>

    <div class="col-4">
      <div class="indicator d-flex justify-content-between align-items-center">
        <div>
          <p class="me-4">Productos</p>
          <p>5</p>
        </div>
        <i class="pi pi-box" style="font-size: 2.5rem"></i>
      </div>
    </div>
  </div>
</div>
